.alertWrapper {
    position: fixed;
    border: 1px solid rgba(209, 0, 0, 1);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    left: 10px;
    top: 10px;
    z-index: 9999;
    background-color: rgba(209, 0, 0, 0.7);
}
